tensorflow==2.19.0
tensorflow_hub==0.16.1
torch==2.8.0
torchaudio==2.8.0
transformers==4.56.0
librosa==0.11.0
soundfile==0.13.1
openai-whisper
mysql-connector-python==9.1.0
plotly==5.24.1
scipy<=1.16.1
sympy
pydub==0.25.1
python-dotenv==1.1.1
joblib==1.5.1
matplotlib
streamlit_image_coordinates

